<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>TODOアプリケーション</title>
    <meta charset="utf-8" />
    <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="grovalNavigation">
       <p>TODOアプリ</p>
    </div>
    <div layout:fragment="contens" class="content">
        <p>test</p>
    </div>
    <div class="localNavigation">
        <p>ローカルナビゲーション</p>
    </div>
  </body>
</html>