<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>TODOアプリケーション</title>
    <meta charset="utf-8" />
    <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/common/layout.css}" rel="stylesheet" type="text/css">
    <!-- jsファイル-->
    <script th:src="@{webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <!-- jsファイル-->
</head>

<body>
    <div class="grovalNavigation">
        <p class="app-title">TODOアプリ</p>

        <div class="user-container">
            <button class="user" th:text="${userName}"></button>
            <button class="search">検索</button>
        </div>
        <button class="item">
            <span> ◆ </span>
            <span>今日のタスク</span>
            <span class="task-count"></span>
        </button>
        <button class="item">
            <span> ★ </span>
            <span>重要なタスク</span>
            <span class="task-count"></span>
            </button>
        <button class="item">
            <span> △ </span>
            <span>今後のタスク</span>
            <span class="task-count"></span>
        </button>
        <button class="item">
            <span> ○ </span>
            <span>タスク一覧</span>
            <span class="task-count">100</span>
        </button>
        <hr>
        <button class="item">
            <span> + </span>
            <span>新しいプロジェクト</span>
        </button>
    </div>
    <div class="content">
        <div layout:fragment="contents"></div>
    </div>
    <div class="localNavigation">
        <p>ローカルナビゲーション</p>
    </div>
</body>

</html>