<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
    <link th:href="@{/css/today.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/today-right-side.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/today-footer.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/today.js}"></script>
    <script th:src="@{/js/today-ajax.js}"></script>
    <title>今日のタスク</title>
</head>

<body>
    <div layout:fragment="taskTitle">
        <div class="task-title">今日のタスク</div>
    </div>
    <div layout:fragment="taskTypeCreate">
        <input type="hidden" id="hiddenCreateType" name="hd-create-type" value="1">
    </div>
    <div layout:fragment="taskTypeDel">
        <input type="hidden" id="hiddenDelType" name="hd-del-type" value="1">
    </div>
</body>

</html>